.findMe {
  background-color: var(--terciary);
  padding: 5px;
}
.findMe > * {
  color: black;
}
.findMe-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.findMe-container > a > img {
  height: 40px;
  ascent-override: 1;
}

@media (max-width: 450px) {
  .findMe-container > a > img {
    width: 25px;
    height: 25px;
  }
}
